<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MealDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD29CD7E1C86F1EF0042149C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD29CD971C86F1EF0042149C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD29CDA21C86F1EF0042149C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
